body {
	background-color: #fefefe;
	margin: 20px;
}

h3 {
	font-family: 'Crimson Text';
	font-size: 24px;
}

.title-name {
	font-size: 36px;
	font-family: 'Crimson Text', Sans-Serif;
	margin-top: 25px;
	margin-bottom: 25px;
}

.nav-link a {
	font-family: 'Crimson Text', Sans-Serif;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	margin-right: 10px;
}

.nav-bar {
	margin: 0 auto;
	width: 75%;
	display: block;
}

.container {
	margin: 0 auto;
	width: 75%;
	padding-top: 30px;
	padding-bottom: 10%;
}

.contact-link {
	padding-bottom: 10px;
}

.selected a {
	color: #888888;
}

a {
	color: #222222;
	text-decoration: underline; 
}

a:hover {
	color: #888888;
}


